* {
    margin: 0;
    padding: 0;
}

html{
    /* color: white; */
}
body{
    /* background-color: #0828CC; */
}

.capital {
    text-transform: uppercase;
}

header {
    height: 10vh;
    padding: 0 40px 0 40px;
    margin-top: 30px;
}
.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.homeIconContainer {
    display: flex;
    align-items: center;
}
.homeIconContainer img {
    height: 30px;
    width: 30px;
    margin: 0 10px 0 0;
}

.navBar {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    font-size: 12px;
}
.navBar p:hover {
    opacity: .5;
}

.subscribeContainer {
    display: flex;
    align-items: center;
}
.subscribeButton {
    padding: 10px 30px;
    outline: 0;
    transition: filter .5s;
    /* background-color: rgba(255, 255, 255, 0); */
    /* color: white;  */
    /* transition: color, background-color .5s; */
}
.subscribeButton:hover {
    filter: invert(100%);
    /* color: rgba(8, 40, 204, 1); */
    /* background-color: rgba(255, 255, 255, 1) */
} 

.mainContainer {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    width: 50vw;
    margin: 20px auto 0 auto;
    height: 70vh;
    justify-content: space-around;
    align-items: center;
}
.mainContainer img {
    height: 100px;
    width: 100px;
}
.mainTitle {
    width: 100%;
    font-size: 50px;
    text-align: center;
}
.mainDescription {
    width: 500px;
    text-align: center;
}
.exploreButton {
    padding: 10px 30px;
    outline: 0;
    transition: filter .5s;
    /* background-color: rgba(255, 255, 255, 1); */
    /* color: rgba(8, 40, 204, 1);  */
    /* transition: color, background-color .5s; */
}
.exploreButton:hover {
    filter: invert(100%);
    /* color: rgba(255, 255, 255, 1); */
    /* background-color: rgba(255, 255, 255, 0) */
} 

.scrollLink {
    font-size: 12px;
    margin-top: 30px;
}

.angleTextContainer {
    float: left;
    font-size: 10px;
    transform: rotate(-90deg);
    position: fixed;
    top: 580px;
}
.angleText:hover {
    color: red;    
}

.socialIconContainer {
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
    position: fixed;
    top: 500px;
    right: 20px;
}
.iconContainer {
    border: 2px solid black;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 5px;
}
.iconContainer:hover {
    background-color: black;
    color: white;
}


/* .socialIconContainer img {
    height: 40px;
    width: 40px;
} */
/* .socialIconContainer img:hover {
} */

